<?xml version="1.0"?>
<config>
    <modules>
        <NovaWorks_FacebookConnect>
            <version>1.0</version>
        </NovaWorks_FacebookConnect>
    </modules>
    <frontend>
        <routers>
            <facebookconnect>
                <use>standard</use>
                <args>
                    <module>NovaWorks_FacebookConnect</module>
                    <frontName>facebookconnect</frontName>
                </args>
            </facebookconnect>
        </routers>
        <layout>
            <updates>
                <facebookconnect>
                    <file>facebookconnect.xml</file>
                </facebookconnect>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <facebookconnect>
                <class>NovaWorks_FacebookConnect_Model</class>
                <resourceModel>facebookfree_mysql4</resourceModel>
            </facebookconnect>
            <facebookconnect_mysql4>
                <class>NovaWorks_FacebookConnect_Model</class>
                <entities>
                    <facebookconnect>
                        <table>novaworks_facebook_customer</table>
                    </facebookconnect>
                </entities>
            </facebookconnect_mysql4>
        </models>
        <resources>
            <facebookconnect_setup>
                <setup>
                    <module>NovaWorks_FacebookConnect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebookconnect_setup>
            <facebookconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebookconnect_write>
            <facebookconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebookconnect_read>
        </resources>
        <blocks>
            <facebookconnect>
                <class>NovaWorks_FacebookConnect_Block</class>
            </facebookconnect>
        </blocks>
        <helpers>
            <facebookconnect>
                <class>NovaWorks_FacebookConnect_Helper</class>
            </facebookconnect>
        </helpers>
    </global>
</config>