<?xml version="1.0"?>
    <config>
        <modules>
            <Krishinc_Videogallery>
                <version>0.1.0</version>
            </Krishinc_Videogallery>
        </modules>
     
        <admin>
            <routers>
                <videogallery>
                    <use>admin</use>
                    <args>
                        <module>Krishinc_Videogallery</module>
                        <frontName>videogallery</frontName>
                    </args>
                </videogallery>
            </routers>
        </admin>
        <adminhtml>
            <menu>
                <multimedia translate="title" module="videogallery">
                    <title>Multimedia</title>
                    <sort_order>72</sort_order>               
                    <children>
                        <videogalleryitems module="videogallery">
                            <title>Manage Video Gallery</title>
                            <sort_order>0</sort_order>
                            <action>videogallery/adminhtml_videogallery</action>
                        </videogalleryitems>
						
                      
                    </children>
                </multimedia>
            </menu>
            <acl>
                <resources>
                    <all>
                        <title>Allow Everything</title>
                    </all>
                    <admin>
                        <children>
                            <videogallery>
                                <title>Videogallery Module</title>
                                <sort_order>200</sort_order>
                            </videogallery>
							<system>
								<children>
									<config>
										<children>
											<videogallery>
												<title>Videogallery</title>
											</videogallery>
										</children>
									</config>
								</children>
							</system>
                        </children>
                    </admin>
                </resources>   
            </acl>
            <layout>
                <updates>
                    <videogallery>
                        <file>videogallery.xml</file>
                    </videogallery>
                </updates>
            </layout>
        </adminhtml>   
         <frontend>
		  <routers>
                <videogallery>
                    <use>standard</use>
                    <args>
                        <module>Krishinc_videogallery</module>
                        <frontName>videogallery</frontName>
                    </args>
                </videogallery>
            </routers> 
	        <layout>
	            <updates>
	                <videogallery> 
	                    <file>videogallery.xml</file>
	                </videogallery>
	            </updates>
	        </layout> 
	    </frontend>
        <global>
             <helpers>
                <videogallery>
                    <class>Krishinc_Videogallery_Helper</class>
                </videogallery>
            </helpers>
            
            <models>
                <videogallery>
                    <class>Krishinc_Videogallery_Model</class>
                    <resourceModel>videogallery_mysql4</resourceModel>
                </videogallery>
                <videogallery_mysql4>
                    <class>Krishinc_Videogallery_Model_Mysql4</class>
                    <entities>
                        <videogallery>
                            <table>videogallery</table>
                        </videogallery>
                    </entities>
                </videogallery_mysql4>
            </models>
            <resources>
                <videogallery_setup>
                    <setup>
                        <module>Krishinc_Videogallery</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </videogallery_setup>
                <videogallery_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
     
     
                </videogallery_write>
                <videogallery_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </videogallery_read>
            </resources>
            <blocks>
                <videogallery>
                    <class>Krishinc_Videogallery_Block</class>
                </videogallery>
            </blocks>
        </global>
		<default>
			<videogallery>
			  <videogallery_gallery>
			    <videogallery>12</videogallery>
			  </videogallery_gallery>
			</videogallery>
		</default>
    </config>