<?xml version="1.0"?>
<config>
    <modules>
        <NovaWorks_Htmlcompression>
            <version>1.0.0</version>
        </NovaWorks_Htmlcompression>
    </modules>
    <global>
        <helpers>
            <htmlcompression>
                <class>NovaWorks_Htmlcompression_Helper</class>
            </htmlcompression>           
        </helpers>    	
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <NovaWorks_Htmlcompression_Model_Observer>
                        <type>singleton</type>
                        <class>NovaWorks_Htmlcompression_Model_Observer</class>
                        <method>HtmlCompression</method>
                    </NovaWorks_Htmlcompression_Model_Observer>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>			
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<htmlcompression>
											<title>Html Compression</title>
										</htmlcompression>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>    
    </adminhtml>
    <default>
    	<htmlcompression>
    		<general_settings>
    			<enable>0</enable>
    		</general_settings>
    	</htmlcompression>
    </default>
</config>