.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
//background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
   background: #d4f3ec;
font-weight: normal;
color: #555555;
}

.ui-state-default .ui-icon {
    background-image: url(../../images/faq/ui-icons_888888_256x240.png);
}
