<?xml version="1.0"?>
<config>
    <modules>
        <FreeLunchLabs_Newslettercheckbox>
            <version>1.0.0</version>
        </FreeLunchLabs_Newslettercheckbox>
    </modules>
    <frontend>
        <translate>
            <modules>
                <FreeLunchLabs_Newslettercheckbox>
                    <files>
                        <default>FreeLunchLabs_Newslettercheckbox.csv</default>
                    </files>
                </FreeLunchLabs_Newslettercheckbox>
            </modules>
        </translate>
        <layout>
            <updates>
                <newslettercheckbox>
                    <file>newslettercheckbox.xml</file>
                </newslettercheckbox>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FreeLunchLabs_Newslettercheckbox>
                    <files>
                        <default>FreeLunchLabs_Newslettercheckbox.csv</default>
                    </files>
                </FreeLunchLabs_Newslettercheckbox>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>FreeLunchLabs_Newslettercheckbox_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <newslettercheckbox>
                <class>FreeLunchLabs_Newslettercheckbox_Model</class>
            </newslettercheckbox>
        </models>
        <resources>
            <newslettercheckbox_setup>
                <setup>
                    <module>FreeLunchLabs_Newslettercheckbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newslettercheckbox_setup>
            <newslettercheckbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newslettercheckbox_write>
            <newslettercheckbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newslettercheckbox_read>
        </resources>
        <blocks>
            <newslettercheckbox>
                <class>FreeLunchLabs_Newslettercheckbox_Block</class>
            </newslettercheckbox>
        </blocks>
        <helpers>
            <newslettercheckbox>
                <class>FreeLunchLabs_Newslettercheckbox_Helper</class>
            </newslettercheckbox>
        </helpers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <newslettercheckbox>
                        <type>singleton</type>
                        <class>newslettercheckbox/observer</class>
                        <method>handleSubscription</method>
                    </newslettercheckbox>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <default>
        <newsletter>
            <newslettercheckbox>
                <enabled>1</enabled>
                <checked>1</checked>
                <if_subscribed>1</if_subscribed>
                <allow_unsubscribe>0</allow_unsubscribe>
                <checkbox_label>Subscribe to Our Newsletter</checkbox_label>
                <!--<available_guest>1</available_guest>
                <available_register>1</available_register>
                <available_customer>1</available_customer>-->
            </newslettercheckbox>
        </newsletter>
    </default>
</config>