<?xml version="1.0"?>
<config>
	<modules>
		<NovaWorks_RevSlideshow>
			<version>1.0.0</version>
		</NovaWorks_RevSlideshow>
	</modules>
	<global>
		<helpers>
			<revslideshow>
				<class>NovaWorks_RevSlideshow_Helper</class>
			</revslideshow>
		</helpers>
		<blocks>
			<revslideshow>
				<class>NovaWorks_RevSlideshow_Block</class>
			</revslideshow>
		</blocks>
		<models>
			<revslideshow>
				<class>NovaWorks_RevSlideshow_Model</class>
				<resourceModel>revslideshow_mysql4</resourceModel>
			</revslideshow>
			<revslideshow_mysql4>
				<class>NovaWorks_RevSlideshow_Model_Mysql4</class>
				<entities>
					<slideshow>
						<table>revslideshow_slideshow</table>
					</slideshow>
					<stores>
						<table>revslideshow_stores</table>
					</stores>
				</entities>
			</revslideshow_mysql4>
		</models>
		<resources>
			<revslideshow_setup>
				<setup>
					<module>NovaWorks_RevSlideshow</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</revslideshow_setup>
			<revslideshow_read>
				<connection>
					<use>core_read</use>
				</connection>
			</revslideshow_read>
			<revslideshow_write>
				<connection>
					<use>core_write</use>
				</connection>
			</revslideshow_write>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<revslideshow>
					<file>revslideshow.xml</file>
				</revslideshow>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<revslideshow_admin>
				<use>admin</use>
				<args>
					<module>NovaWorks_RevSlideshow</module>
					<frontName>admin_revslideshow</frontName>
				</args>
			</revslideshow_admin>
		</routers>
	</admin>
	<adminhtml>
	   <menu>
			<novaworks translate="title" module="revslideshow">
				<title>NovaWorks</title>
				<sort_order>100</sort_order>               
					<children>
						<slideshow>
							<title>Manage Slideshows</title>
							<sort_order>20</sort_order>
							<action>revslideshow_admin/adminhtml_slideshow</action>
						</slideshow>
					</children>					
			</novaworks>
        </menu>
		<layout>
			<updates>
				<revslideshow>
					<file>revslideshow.xml</file>
				</revslideshow>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<revslideshow>
			<general>
				<enabled>1</enabled>
				<slider_type>1</slider_type>
				<slider_width>1920</slider_width>
				<slider_height>500</slider_height>
				<slider_delay>9000</slider_delay>
				<touch>1</touch>
				<stop_on_hover>1</stop_on_hover>
				<shuffle_mode>0</shuffle_mode>
			</general>
			<navigation>
				<navigation_type>bullet</navigation_type>
				<navigation_arrows>solo</navigation_arrows>
				<navigation_style>round</navigation_style>
				<navigaion_always_on>0</navigaion_always_on>
				<hide_thumbs>200</hide_thumbs>
				<navigaion_align_hor>center</navigaion_align_hor>
				<navigaion_align_vert>bottom</navigaion_align_vert>
				<navigaion_offset_hor>0</navigaion_offset_hor>
				<navigaion_offset_vert>20</navigaion_offset_vert>
				<leftarrow_align_hor>left</leftarrow_align_hor>
				<leftarrow_align_vert>center</leftarrow_align_vert>
				<leftarrow_offset_hor>20</leftarrow_offset_hor>
				<leftarrow_offset_vert>0</leftarrow_offset_vert>
				<rightarrow_align_hor>right</rightarrow_align_hor>
				<rightarrow_align_vert>center</rightarrow_align_vert>
				<rightarrow_offset_hor>20</rightarrow_offset_hor>
				<rightarrow_offset_vert>0</rightarrow_offset_vert>
			</navigation>
			<thumbnails>
				<thumbnails_width>100</thumbnails_width>
				<thumbnails_height>50</thumbnails_height>
				<thumbnails_amount>5</thumbnails_amount>
			</thumbnails>
		</revslideshow>
	</default>
</config>