<?xml version="1.0"?>
<config>
	<modules>
		<Orange_Rss>
			<version>0.1.2</version>
		</Orange_Rss>
	</modules>
	<frontend>
		<layout>
			<updates>
				<orange_rss>
					<file>orange_rss.xml</file>
				</orange_rss>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<orange_rss>
				<class>Orange_Rss_Model</class>
			</orange_rss>
		</models>
	</global>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <orange_rss/>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
    	</acl>
    </adminhtml>
	<default>
		<orange_rss>
			<settings>
				<enable>1</enable>
				<title>Rss</title>
				<rss_link>![CDATA[http://www.celebrationtemplates.com/blog]]</rss_link>
				<show_date>1</show_date>
				<showposts>3</showposts>
				<show_content>1</show_content>
			</settings>
		</orange_rss>
	</default>
</config>