<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_OptionConfigurable>
            <version>1.0.1</version>
        </Pektsekye_OptionConfigurable>
    </modules>
    <frontend>    
		  <layout>
			  <updates>
				  <optionconfigurable>
					  <file>optionconfigurable.xml</file>
				  </optionconfigurable>
			  </updates>
		  </layout>	 		  
      <translate>
          <modules>
              <Pektsekye_OptionConfigurable>
                  <files>
                      <default>Pektsekye_OptionConfigurable.csv</default>
                  </files>
              </Pektsekye_OptionConfigurable>
          </modules>
      </translate>		  
    </frontend>
    <admin>
        <routers>
			    <adminhtml>
				    <use>admin</use>
				    <args>
               <modules>				    
                  <Pektsekye_OptionConfigurable after="Mage_Adminhtml">Pektsekye_OptionConfigurable</Pektsekye_OptionConfigurable>	
               </modules>              				    
				    </args>
			    </adminhtml>
        </routers>
    </admin>                     
    <adminhtml>
		  <layout>
			  <updates>
				  <optionconfigurable>
					  <file>optionconfigurable.xml</file>
				  </optionconfigurable>
			  </updates>
		  </layout>
      <events>        
          <catalog_product_save_before>
              <observers>
                  <optionconfigurable>
                      <type>singleton</type>
                      <class>optionconfigurable/observer</class>
                      <method>productSaveBefore</method>
                  </optionconfigurable>
              </observers>
          </catalog_product_save_before> 
          <catalog_product_save_after>
              <observers>
                  <optionconfigurable>
                      <type>singleton</type>
                      <class>optionconfigurable/observer</class>
                      <method>productSaveAfter</method>
                  </optionconfigurable>
              </observers>
          </catalog_product_save_after> 
          <catalog_model_product_duplicate>
              <observers>
                  <optionconfigurable>
                      <type>singleton</type>
                      <class>optionconfigurable/observer</class>
                      <method>productDuplicate</method>
                  </optionconfigurable>
              </observers>
          </catalog_model_product_duplicate>
          <resource_get_tablename>
              <observers>
                  <optionconfigurable>
                      <type>singleton</type>
                      <class>optionconfigurable/observer</class>
                      <method>resourceGetTableName</method>
                  </optionconfigurable>
              </observers>
          </resource_get_tablename>         	                                                          
      </events>		  
      <translate>
          <modules>
              <Pektsekye_OptionConfigurable>
                  <files>
                      <default>Pektsekye_OptionConfigurable.csv</default>
                  </files>
              </Pektsekye_OptionConfigurable>
          </modules>
      </translate>            
    </adminhtml>    
    <global>
      <events>        
          <core_collection_abstract_load_after>
              <observers>
                  <optionconfigurable>
                      <class>optionconfigurable/observer</class>
                      <method>unsetRequired</method>
                  </optionconfigurable>
              </observers>
          </core_collection_abstract_load_after>
          <catalog_product_load_after>
              <observers>
                  <optionconfigurable>
                      <class>optionconfigurable/observer</class>
                      <method>productLoadAfter</method>
                  </optionconfigurable>
              </observers>
          </catalog_product_load_after>             
          <catalog_product_collection_load_after>
              <observers>
                  <optionconfigurable>
                      <class>optionconfigurable/observer</class>
                      <method>unsetRequiredOptionsToCollection</method>
                  </optionconfigurable>
              </observers>
          </catalog_product_collection_load_after>
          <controller_action_predispatch_wishlist_index_add>
              <observers>
                  <optionconfigurable>
                      <class>optionconfigurable/observer</class>
                      <method>selectNotSelected</method>
                  </optionconfigurable>
              </observers>
          </controller_action_predispatch_wishlist_index_add> 
          <controller_action_predispatch_checkout_cart_add>
              <observers>
                  <optionconfigurable>
                      <class>optionconfigurable/observer</class>
                      <method>selectNotSelected</method>
                  </optionconfigurable>
              </observers>
          </controller_action_predispatch_checkout_cart_add>                                           	                                                          
      </events>	
        <models>  
			    <catalog>
            <rewrite>				
              <product_option_type_select>Pektsekye_OptionConfigurable_Model_Product_Option_Type_Select</product_option_type_select> 	
            </rewrite> 			
          </catalog>             
          <optionconfigurable>
              <class>Pektsekye_OptionConfigurable_Model</class>
              <resourceModel>optionconfigurable_resource</resourceModel>
          </optionconfigurable>           
          <optionconfigurable_resource>
            <class>Pektsekye_OptionConfigurable_Model_Resource</class>
            <entities>
              <option>
                <table>optionconfigurable_option</table>
              </option>
              <option_note>
                <table>optionconfigurable_option_note</table>
              </option_note>
              <value>
                <table>optionconfigurable_value</table>
              </value>
              <value_description>
                <table>optionconfigurable_value_description</table>
              </value_description>                                
              <attribute>
                <table>optionconfigurable_attribute</table>
              </attribute> 
              <attribute_note>
                <table>optionconfigurable_attribute_note</table>
              </attribute_note>                                                    
              <aoption>
                <table>optionconfigurable_aoption</table>
              </aoption>
              <aoption_description>
                <table>optionconfigurable_aoption_description</table>
              </aoption_description>              	              
              <aoption_to_attribute>
                <table>optionconfigurable_aoption_to_attribute</table>
              </aoption_to_attribute>																		                
              <aoption_to_aoption>
                <table>optionconfigurable_aoption_to_aoption</table>
              </aoption_to_aoption>
              <aoption_to_option>
                <table>optionconfigurable_aoption_to_option</table>
              </aoption_to_option>			
              <aoption_to_value>
                <table>optionconfigurable_aoption_to_value</table>
              </aoption_to_value>	
              <value_to_attribute>
                <table>optionconfigurable_value_to_attribute</table>
              </value_to_attribute>										
              <value_to_aoption>
                <table>optionconfigurable_value_to_aoption</table>
              </value_to_aoption>		
              <value_to_option>
                <table>optionconfigurable_value_to_option</table>
              </value_to_option>	
              <value_to_value>
                <table>optionconfigurable_value_to_value</table>
              </value_to_value>										
            </entities>
          </optionconfigurable_resource>
        </models>     
        <resources>	
          <optionconfigurable_setup>
              <setup>
                  <module>Pektsekye_OptionConfigurable</module> 
                  <class>Pektsekye_OptionConfigurable_Model_Resource_Setup</class>                    
              </setup>                
          </optionconfigurable_setup>           
        </resources>
        <blocks>
          <optionconfigurable>
              <class>Pektsekye_OptionConfigurable_Block</class>
          </optionconfigurable>
          <adminhtml>
            <rewrite>				
              <sales_items_column_name>Pektsekye_OptionConfigurable_Block_Sales_Items_Column_Name</sales_items_column_name>
            </rewrite>             
          </adminhtml>             
          <sales>
            <rewrite>				
              <order_item_renderer_default>Pektsekye_OptionConfigurable_Block_Order_Item_Renderer_Default</order_item_renderer_default>	
              <order_email_items_order_default>Pektsekye_OptionConfigurable_Block_Order_Email_Items_Order_Default</order_email_items_order_default>                  	                                	
            </rewrite> 			
          </sales>                                     
        </blocks>
        <helpers>
            <optionconfigurable>
                <class>Pektsekye_OptionConfigurable_Helper</class>
            </optionconfigurable>
            <catalog>
              <rewrite>				
                <product_configuration>Pektsekye_OptionConfigurable_Helper_Product_Configuration</product_configuration> 	
              </rewrite> 			
            </catalog>             
        </helpers>      
    </global>
  <default>
    <checkout>
      <cart>
        <custom_option_images>1</custom_option_images>				
      </cart>
    </checkout>	
  </default>    	      
</config>
