<?xml version="1.0"?>
<config>
	<modules>
		<NovaWorks_Imagezoom>
			<version>0.1.0</version>
		</NovaWorks_Imagezoom>
	</modules>
	<global>
        <models>
            <imagezoom>
                <class>NovaWorks_Imagezoom_Model</class>
            </imagezoom>
        </models>
        <helpers>
            <imagezoom>
                <class>NovaWorks_Imagezoom_Helper</class>
            </imagezoom>
        </helpers>
		<blocks>
			<imagezoom>
                <class>NovaWorks_Imagezoom_Block</class>
            </imagezoom>
			<catalog>
				<rewrite>
					<product_view>NovaWorks_Imagezoom_Block_Catalog_Product_View</product_view>
				</rewrite>
			</catalog>
		</blocks>
	</global>
    <frontend>
        <layout>
            <updates>
                <imagezoom>
                    <file>imagezoom.xml</file>
                </imagezoom>
            </updates>
        </layout>
		<translate>
            <modules>
                <imagezoom>
                    <files>
                        <default>NovaWorks_Imagezoom.csv</default>
                    </files>
                </imagezoom>
            </modules>
        </translate>
    </frontend>
	<backend_model>imagezoom/adminhtml_system_config</backend_model>
	<adminhtml>
        <translate>
            <modules>
                <imagezoom>
                    <files>
                        <default>NovaWorks_Imagezoom.csv</default>
                    </files>
                </imagezoom>
            </modules>
        </translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<imagezoomconfig translate="title">
											<title>ImageZoom Config Section</title>
											<sort_order>0</sort_order>
										</imagezoomconfig>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<default>
		<imagezoomconfig>
			<general>
				<zoomclound_enable>1</zoomclound_enable>
				<slideshow_enable>1</slideshow_enable>
			</general>
			<imagezoom_style_css>
				<lens_border>1</lens_border>
				<lens_border_color>#CCCCCC</lens_border_color>
				<lens_background_color>#FFFFFF</lens_background_color>
				<zoom_window_border>1</zoom_window_border>
				<zoom_window_border_color>#CCCCCC</zoom_window_border_color>
			</imagezoom_style_css>
			<imagezoom_options>
				<zoomWidth></zoomWidth>
				<zoomHeight></zoomHeight>
				<position>'inside'</position>
				<adjustX></adjustX>
				<adjustY>-1</adjustY>
				<tintenable>0</tintenable>
				<zoomeffect>0</zoomeffect>
				<tintColor></tintColor>
				<tintOpacity></tintOpacity>
				<lensOpacity></lensOpacity>
				<smoothMove></smoothMove>
				<showTitle>0</showTitle>
				<titleOpacity></titleOpacity>
			</imagezoom_options>
			<imagezoom_images>
				<imagesToShow></imagesToShow>
			</imagezoom_images>
		</imagezoomconfig>
	</default>
</config>