.videogalleryleft{
    width: 200px;
float: left;
}
.video_gallery li{
    display: inline;
    float: left;
    margin: 0px 5px 5px;
    width: 190px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.video_gallery li img{
    
    width: 190px;
    height :130px;
    
}

.videogalleryleft .block{
    
    background : none;
}

.videogalleryleft .block .block-title{
    
    background : none;
}

.videogalleryleft .block .active{
    
    background : none;
}

.video_gallery_txt{
    margin-bottom: 10px;
}